* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 55%;
  background-color: black;
  border-radius: 10px 10px;
}

.red {
  width: 60%;
  height: 25%;
  background-color: red;
  border-radius: 100%;
}
.yellow {
  width: 60%;
  height: 25%;
  background-color: yellow;
  border-radius: 100%;
  margin-top: 8%;
}

.green {
  width: 60%;
  height: 25%;
  background-color: green;
  border-radius: 100%;
  margin-top: 8%;
}

